@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    /* 폰트 적용 */
    /* font-family: 'GmarketSansMedium', sans-serif; */
    font-family: Gmarket Sans;
    text-align: center;
    color: white;
    background-color: #5B2386;
}

/* 버튼 공통 */
button {
    height: 66px;
    border: 0;
    border-radius: 56px;

    color: #5B2386;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;

    background-color: #FCEE21;
    box-shadow: 0px 0px 10px 0px #00000080;
}

header {
    height: 465px;
}

.header-front {
    position: absolute;
    z-index: 10;
    top: 273px;
    left: 678px;
}

.header-back {
    position: absolute;
    top: 199px;
    left: 830px;
}

.title-area {
    padding-top: 46px;
}


.title-area h2 {
    color: #F5DF4D;
    font-family: 'tvN Enjoystories';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 39.6px;
}

.title-area p {
    margin-top: 78px;

    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.title-area p>strong {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

.double-quotation-marks {
    position: absolute;
    top: 641px;
}

.double-quotation-marks>img:first-child {
    position: absolute;
    left: 714px;
}

.double-quotation-marks>img:last-child {
    position: absolute;
    left: 1161px;
}

.promise-area {
    margin-top: 102px;

    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.promise-area input {
    width: 228px;
    height: 57px;
    border-radius: 7px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.promise-area p:last-child {
    margin-top: 27px;
}

.training-area {
    margin-top: 115px;
    position: relative;
}

.training-area .more-btn {
    width: 565px;
}

.training-area img {
    position: absolute;
    top: 14px;
    left: 1250px;
}

.training-area p {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.training-area p:nth-child(3) {
    margin-top: 147px;
}

.training-area p:nth-child(4) {
    margin-top: 17px;
}

.training-area strong {
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
}

.training-area .btn-group {
    margin-top: 127px;
}

.training-area .btn-group .modal-btn {
    width: 356px;
}

.training-area .btn-group .share-btn {
    width: 191px;
    margin-left: 18px;
    background-color: white;
}

footer {
    padding-top: 130px;
}

footer>p {
    margin-top: 20px;
    margin-bottom: 70px;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.38px;
}

.modal-page {
    width: 800px;
    height: 800px;

    padding-top: 76px;

    font-family: tvN Enjoystories;
    text-align: center;

    color: #5B2386;
    background-color: white;

    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px #00000080;

    position: absolute;
    top: 40vh;
    left: 570px;

    display: none;
}

.modal-page h2 {
    font-size: 96px;
    font-weight: 700;
    line-height: 105.6px;
}

.modal-page p {
    margin-top: 4px;

    font-size: 36px;
    font-weight: 700;
    line-height: 39.6px;
}

.modal-page img {
    margin-top: 29px;
}

.modal-page .close-modal {
    width: 508px;
    margin-top: 74px;
}

.active {
    display: block;
}